.itemDetail {
	padding-top: 3em;
}

.itemDetail__header {
	display: flex;
	margin-bottom: 1em;
}

.itemDetail__header_text {
	margin-left: 1em;
}

.itemDetail__header_text > h1 {
	font-size: var(--fs-h1);
}

.itemDetail__header_text > h3 {
	font-size: var(--fs-h2);
}

.itemDetail__content {
	font-size: var(--fs-h4);
}
