.post {
	margin: 1.5em 0;
}

.img__box {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-top: 0.5em;
}

.img__box > img {
	width: 220px;
	height: 220px;
	object-fit: cover;
}
