.main {
	max-width: 300px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 0.5em;
}

.back__link {
	display: block;
	padding-top: 1em;
	box-sizing: border-box;
}

.back__icon {
	width: 30px;
	font-size: var(--fs-h3);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin: 50% 0 1em;
}

.form > input {
	padding: 1em;
	border: 1px solid var(--clr-dark);
	border-radius: 10px;
}

.form > button {
	width: 100%;
	max-width: 70px;
	margin: 0 auto;
	padding: 0.75em;
	text-align: center;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	border-radius: 20px;
	cursor: pointer;
}

.other__btn {
	display: block;
	max-width: 60px;
	margin: 1em auto 0;
	padding: 0.75em;
	text-align: center;
	color: var(--clr-light);
	background-color: var(--clr-gray);
	border-radius: 20px;
	cursor: pointer;
}
