.main {
	max-width: 450px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 0.5em;
}

.main__allbtn_icon {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
	padding: 1em;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: var(--clr-dark);
	color: var(--clr-light);
	text-align: center;
}

.main__allbtn_icon > svg {
	width: 20px;
	position: relative;
	top: 3px;
	right: 3px;
}

.main__rankbtn_icon {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
	padding: 1em;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: var(--clr-point);
	color: var(--clr-light);
	text-align: center;
}

.main__rankbtn_icon > svg {
	width: 20px;
	position: relative;
	top: 3px;
	right: 3px;
}

.main__createbtn_icon {
	display: block;
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: var(--clr-blue);
	color: var(--clr-light);
	text-align: center;
}

.main__createbtn_icon > svg {
	width: 20px;
	position: relative;
	top: 3px;
	right: 3px;
}
